/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
:root {  
  font-family: "Roboto Slab", serif;
  --color-azul-oscuro: #021c3c;
  --color-blanco: #fbfbfb;
  --color-gris: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto Slab", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;

}

.div_a  a{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 0.4rem;
    border : 0.1rem solid black;
}
.header_h1 {
    font-size: 3rem;

}
.header_a a {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

.header_button{
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 0.4rem;
  border : 0.1rem solid black;
}
/*main*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.main__section__div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  background: var(--color-azul-oscuro);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-blanco);
}

.contenido{ 
  margin: 2rem;

}

.reserva{
  border: 1px solid #ddd; 
  padding: 1rem; 
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9
}




.parrafo {
  font-size: 1.3rem;
  font-family: "roboto Slab", sans-serif;
}